*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out
cdk.context.json

asset/layer/alexa_scraper_libs/python
asset/layer/*.zip

.pytest_cache
__pycache__

.experiment