*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out
cdk.context.json

python-lambda/layer/alexa_scraper_libs/python
python-lambda/layer/*.zip

.pytest_cache
__pycache__

.experiment
python-lambda/.venv
dist